threads = 2 # Number of threads for the application
downloads_folder = "downloads" # Folder for APK files
dist_folder = "dist" # Folder where the source code will be extracted
results_folder = "results" # Folder where results will be generated
apktool_file = "vendor/apktool_2.1.1.jar" # APKTool JAR file
dex2jar_folder = "vendor/dex2jar-2.0" # Dex2Jar folder
jd_cmd_file = "vendor/jd-cmd.jar" # JD-cmd JAR file
results_template = "vendor/results_template" # Results template
rules_json = "rules.json" # Vulnerability rules JSON
