threads = 2 # Number of threads for the application
downloads_folder = "downloads" # Folder for APK files
dist_folder = "dist" # Folder where the source code will be extracted
results_folder = "results" # Folder where results will be generated
dex2jar_folder = "/usr/share/super/vendor/dex2jar-2.1-SNAPSHOT" # Dex2Jar folder
jd_cmd_file = "/usr/share/super/vendor/jd-cmd.jar" # JD-cmd JAR file
templates_folder = "/usr/share/super/templates"
template = "super" # Results template
rules_json = "/etc/super/rules.json" # Vulnerability rules JSON

# Vulnerable or potentially vulnerable permissions
[[permissions]]
name = "unknown" # Unknown permissions
criticality = "low"
description = "Even if the application can create its own permissions, it's discouraged, since it can lead to missunderstanding between developers."

# Vulnerable or potentially vulnerable permissions
[[permissions]]
name = "android.permission.INTERNET" # Internet access permission
criticality = "warning"
label = "Internet permission"
description = "Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. Check if the permission is actually needed."
