body {
    margin: 2em 5em;
}

footer {
    margin: 2em;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

section.vulnerability li {
    margin-left: -1.5em;
}

section.vulnerability {
    border: 1px solid #CCCCCC;
    margin: 1em 5em;
    padding: 1.5em 3em;
}

span.critical, span.high {
    color: #F93A3A;
}

span.medium {
    color: #F9AD3A;
}

span.low {
    color: #3A9BF9;
}

div.code code {
    border-radius: 0 1em 1em 0;
}

a {
    text-decoration: none;
    color: #74B1ED;
}

div.line_numbers {
    float: left;
    font-family: monospace;
    padding: 0.5em 0.3em 0.5em 1em;
    color: #A9B7C6;
    background: #3E4348;
    border-radius: 1em 0 0 1em;
    margin-left: -2em;
}

div.line_numbers em {
    font-weight: bolder;
    text-decoration: underline;
    font-style: normal;
}
