<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Source code</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="src">
        <nav>
            <a href="../index.html" title="Return to report">
                <h2><img src="../img/report.png"><br>Return to report</h2>
            </a>
            <ul>
                <!-- TODO file list -->
                <li><a href="AndroidManifest.xml.html" title="AndroidManifest.xml" target="code"><img src="../img/xml-icon.png">AndroidManifest.xml</a></li>
            </ul>
        </nav>
        <iframe name="code" src="AndroidManifest.xml.html"></iframe>
        <script src="../js/jquery-3.1.0.slim.min.js"></script>
        <script src="../js/src_nav.js"></script>
    </body>
</html>
